<template>
  <div id="app">
    <!-- Условная отрисовка -->
    <!-- <div v-if="show">
      <h3>Show me!</h3>
    </div>
    <div v-else>
      <h3>Doesnt show me</h3>
    </div>

    <button @click="changeText()">Change text</button> -->
    <arrays/>
  </div>
</template>

<script>
import Arrays from './components/Arrays.vue'

export default {
  name: "Homepage",
  data: () => {
    return {
      show: true,
    };
  },
  methods: {
    changeText: function() {
      this.show = !this.show
    }
  },
  components: {
    Arrays
  },
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  color: white;

  margin-top: 60px;
}
body{
  background-color: #2c3e50;

}
* {
  font-family: "Gilroy";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Regular.ttf);
}
</style>
